<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPL Dataset Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>IPL Dataset Project</h1>
        <h4>Click on the following links to see the result</h4>
        <ul>
            <li><a href="{% url 'solution1' %}">Plot the number of matches played per year of all the years in IPL.</a></li>
            <li><a href="{% url 'solution2' %}">Plot a stacked bar chart of matches won of all teams over all the years of IPL.</a></li>
            <li><a href="{% url 'solution3' %}">In year 2016, return the extra runs conceded per team.</a></li>
            <li><a href="{% url 'solution4' %}">For the year 2015 plot the top economical bowlers.</a></li>
            <li><a href="{% url 'solution5' %}">Plot the success rate of all the teams</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
  </body>
</html>