<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IPL Dataset Projects</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src = "https://code.highcharts.com/highcharts.js"></script>
        <style>
            #container{
            width: 950px;
            height: 700px;
            margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>IPL Dataset Project, Task: 2</h1>
            <div id="container">
            </div>
        </div>
        <script>
            seasons = '{{ seasons }}';
            seasons = JSON.parse(seasons.replace(/&#39;/g,'"'));
            team_data = '{{ team_data }}';
            team_data = JSON.parse(team_data.replace(/&#39;/g,'"'));
            team_list = '{{ team_list }}';
            team_list = JSON.parse(team_list.replace(/&#39;/g,'"'));
            format_obj = []
            for(var i=0; i<team_data.length; i++){
              temp = {};
              temp['name'] = team_list[i];
              temp['data'] = team_data[i];
              format_obj.push(temp);
            }
            
            Highcharts.chart('container', {
            chart: {type: 'column'},
            title: {text: 'Plot a stacked bar chart of matches won of all teams over all the years of IPL.'},
            xAxis: {categories: seasons},
            yAxis: {min: 0, title: {text: 'Total matches won'},
              stackLabels: {enabled: true, style: {fontWeight: 'bold', color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'}}
            },
            legend: {
              align: 'right',
              x: -30,
              verticalAlign: 'bottom',
              y: -150,
              floating: false,
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
            },
            tooltip: {
              headerFormat: '<b>{point.x}</b><br/>',
              pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
              column: {stacking: 'normal', dataLabels: {enabled: true, color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'}}
            },
            series: format_obj
            });
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
    </body>
</html>